<doctype html>
<html ng-app="app">
  <head>
    <title>MorraJS</title>
    <link  href="/stylesheets/style.css" rel="stylesheet">
    <script src="/javascripts/angular.js"></script>
    <script src="/javascripts/morra.js"></script>
    <script src="/javascripts/main.js"></script>
  </head>

  <body ng-controller="mainController">

    <div>

      <div>
        <button ng-repeat="hand in hands" ng-click="chooseAndPlay(hand)"> {{ hand.name }} </button>
      </div>

      <div>
        <h3>{{ game.human.name }}: {{ game.human.chosen.name }}</h3>
        <h4>vs</h4>
        <h3>{{ game.bot.name }}: {{ game.bot.chosen.name }}</h3>
      </div>

      <div>
        <h2>And the winner is: {{ winner.name || 'Nobody' }}!</h2>
      </div>

    </div>

  </body>
</html>
